<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @position.department %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @position.contact %>
</p>

<p>
  <strong>Questions:</strong>
  <%= @position.questions %>
</p>

<p>
  <strong>Status:</strong>
  <%= @position.status %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
