<%= form_for(@interview) do |f| %>
  <% if @interview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interview.errors.count, "error") %> prohibited this interview from being saved:</h2>

      <ul>
      <% @interview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ratings %><br>
    <%= f.number_field :ratings %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :ratings_by %><br>
    <%= f.text_field :ratings_by %>
  </div>
  <div class="field">
    <%= f.label :candidates %><br>
    <%= f.text_field :candidates %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="field">
    <%= f.label :comments_by %><br>
    <%= f.text_field :comments_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
