<p id="notice"><%= notice %></p>
  


<p>
  <strong>Type:</strong>
  <%= @interview.type %>
</p>

<p>
  <strong>Ratings by:</strong>
  <%= @interview.ratings_by %>
</p>

<p>
  <strong>Candidates:</strong>
  <%= @interview.candidates %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @interview.comments %>
</p>

<p>
  <strong>Comments by:</strong>
  <%= @interview.comments_by %>
</p>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://youtu.be/Z42vDV2q6II"></iframe>
</div>
