<p id="notice"><%= notice %></p>
  


<p>
  <strong>Type:</strong>
  <%= @interview.job_title %>
</p>

<p>
  <strong>Ratings by:</strong>
  <%= @interview.ratings_by %>
</p>

<p>
  <strong>Candidates:</strong>
  <%= @interview.candidate_name %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @interview.comments %>
</p>

<p>
  <strong>Comments by:</strong>
  <%= @interview.comments_by %>
</p>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>

<div class="embed-responsive embed-responsive-16by9">
  <iframe width="360" height="215" src="https://www.youtube.com/embed/Yc4SN41VMHc?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
