<!DOCTYPE html>
<html lang="en">
<div class='container-fluid'>

<p id="notice"><%= notice %></p>

<script src='/assets/stylesheets/candidates.scss'></script>


<div class="row">
  <div class="col-md-4"><p>
	  <h1>My DashBoard</h1>
	  <%= image_tag @candidate.image.url :medium %>
	</p>
	<p>
	  <strong>First name:</strong>
	  <%= @candidate.first_name %>
	</p>

	<p>
	  <strong>Last name:</strong>
	  <%= @candidate.last_name %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @candidate.email %>
	</p>

	<p>
	  <strong>Phone:</strong>
	  <%= @candidate.phone %>
	</p>

	<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
	<%= link_to 'Back', candidates_path %>
</div>

  <div class="col-md-8"><div class="row">
        
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <%= image_tag @candidate.image.url :medium %>
                </div>
                <div class="info">
                    <div class="title">
                        <%= @candidate.first_name %> <%= @candidate.last_name %>
                    </div>
                    <div class="desc">Passionate designer</div>
                    <div class="desc">Curious developer</div>
                    <div class="desc">Tech geek</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

  </div>
</div>

<br>


  <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">My Available Positions</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">14</span>
              <%= link_to "All Current  Positions", positions_path%>
            </li>
            <li class="list-group-item">
              <span class="badge">2</span>
              Upcoming Positions
            </li>
            <li class="list-group-item">
              <span class="badge">15</span>
             <%= link_to "Positions Won", positions_path%>
            </li>
            <li class="list-group-item">
              <span class="badge">10</span>
              Completed Interviews
            </li>
          </ul>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Create New Position</h3>
          </div>
              <div class="panel-body">
                 
                  <a href="/positions/new" align="right" class="btn btn-success">Create</a>
                  <p align="right"> Create your new position</p>
              </div>
          </div>
        </div>
      </div>
  </div>

  <div class="col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">My Interviews</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">14</span>
              <%= link_to "All Interviews", interviews_path%>
            </li>
            <li class="list-group-item">
              <span class="badge">2</span>
              New Available Interviews
            </li>
            <li class="list-group-item">
              <span class="badge">15</span>
              My Interview Feedback
            </li>
            <li class="list-group-item">
              <span class="badge">10</span>
              My Completed Interviews
            </li>
          </ul>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Available Interviews</h3>
          </div>
              <div class="panel-body">
                 <a href="/interviews/new" align="right" class="btn btn-success">View</a>
                 <p align="right"> View your new interview</p>

              </div>


          </div>

        </div>
      </div>
      <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Interview Status</h3>
              <div id="myStat" data-dimension="250" data-text="35%" data-info="New Clients" data-width="30" data-fontsize="38" data-percent="35" data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#ddd" data-total="200" data-part="35" data-icon="long-arrow-up" data-icon-size="28" data-icon-color="#fff">
              </div>
            </div>
          </div>
        </div>
  </div>
</div>

<script>
</div>
  
</div>

	



