<!DOCTYPE html>
<html lang="en">
<div class='container'>
<p id="notice"><%= notice %></p>

<div class="row">
        <div class='col-md-4'><h1>My DashBoard</h1></div>
        <div class='col-md-8'align='right'><%= image_tag @employer.image.url :thumb %>
        </div>
</div>
<br>


<div class="nav-side-menu">
    <div class="brand">Brand Logo</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="#">CSS3 Animation</a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Tabs & Accordions</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">FontAwesome</a></li>
                    <li><a href="#">Slider</a></li>
                    <li><a href="#">Panels</a></li>
                    <li><a href="#">Widgets</a></li>
                    <li><a href="#">Bootstrap Model</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="service">
                  <li>New Service 1</li>
                  <li>New Service 2</li>
                  <li>New Service 3</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>New New 1</li>
                  <li>New New 2</li>
                  <li>New New 3</li>
                </ul>


                 <li>
                  <a href="#">
                  <i class="fa fa-user fa-lg"></i> Profile
                  </a>
                  </li>

                 <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> Users
                  </a>
                </li>
            </ul>
     </div>
</div>

<div class="container-fluid">
 <div class="row">
  <div class="col-md-4">

    <ul class="list-group">
        <li class="list-group-item">
              <p>
                <strong>First name:</strong>
                <%= @employer.first_name %>
              </p>
        </li>
        <li class="list-group-item">
             <p>
                <strong>Last name:</strong>
                <%= @employer.last_name %>
            </p>
        </li>
        <li class="list-group-item">
             <p>
                <strong>Email:</strong>
                <%= @employer.email %>
             </p>
        </li>
        <li class="list-group-item">
              <p>
                <strong>Company:</strong>
                <%= @employer.company %>
              </p>
        </li>
        <li class="list-group-item">
              <p>
                <strong>Phone:</strong>
                <%= @employer.phone %>
              </p>
        </li>
        <li class="list-group-item">
         
              <%= link_to 'Edit', edit_employer_path(@employer) %> |
              <%= link_to 'Back', employers_path %>
        </li>
        
    </ul>
      
  </div>

  <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">My Job Positions</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">14</span>
              <%= link_to "All Current  Positions", positions_path%>
            </li>
            <li class="list-group-item">
              <span class="badge">2</span>
              Upcoming Positions
            </li>
            <li class="list-group-item">
              <span class="badge">15</span>
             <%= link_to "Positions Won", positions_path%>
            </li>
            <li class="list-group-item">
              <span class="badge">10</span>
              Completed Interviews
            </li>
          </ul>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Create New Position</h3>
          </div>
              <div class="panel-body">
                 
                  <a href="/positions/new" align="right" class="btn btn-success">Create</a>
                  <p align="right"> Create your new position</p>
              </div>
          </div>
        </div>
      </div>
  </div>

  <div class="col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">My Interviews</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">14</span>
              <%= link_to "All Interviews", interviews_path%>
            </li>
            <li class="list-group-item">
              <span class="badge">2</span>
              All Current Interviews
            </li>
            <li class="list-group-item">
              <span class="badge">15</span>
              Interview Feedback
            </li>
            <li class="list-group-item">
              <span class="badge">10</span>
              Completed Interviews
            </li>
          </ul>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Create New Interview</h3>
          </div>
              <div class="panel-body">
                 <a href="/interviews/new" align="right" class="btn btn-success">Create</a>
                 <p align="right"> Create your new interview</p>

              </div>


          </div>

        </div>
      </div>
      <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Interview Status</h3>
               <div class="panel-body">
                <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Column heading</th>
      <th>Column heading</th>
      <th>Column heading</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="info">
      <td>3</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="success">
      <td>4</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="danger">
      <td>5</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="warning">
      <td>6</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="active">
      <td>7</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
  </tbody>
</table> 
               </div>
            </div>
          </div>
        </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="assets/freelancer.css">












  
  

      
  