<!DOCTYPE html>
<html>
<head>
  <title>RecruitMe XS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	

</head>
<body>
<div class="container-fluid">
		<nav class="navbar navbar-inverse" style="margin-bottom: 3px;">
		  <div class="container-fluid">
		    <div class="navbar-header">
		     

		      <a class="navbar-brand" href="/">RecruitMe XS</a>
		    </div>
		    <% if current_employer %>
		      <ul class="nav navbar-nav navbar-right">
		   	  	<li><%= link_to "#{current_employer.email}", current_employer%></li>
		   	  	<li><%= link_to "My Dashboard", current_employer %></li>
		   	  	<li><%= link_to "Log Out", logout_path, method: "delete" %></li>
		   	  </ul>
		   	  <% else %>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="/welcome/pricing">Pricing <span class="sr-only"></span></a></li>
		        <li><a href="/welcome/careers">Careers</a></li>
		        <li><a href="/welcome/faqs">FAQ's</a></l>
		      </ul>
		      
		        
		   	  <ul class="nav navbar-nav navbar-right">
		        <li><%= link_to "Sign In", login_path %></li>
		      <% end %>
		      </ul>

		    </div>
		  </div>
		</nav>



<%= yield %>
</div>
</body>
</html>
